@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

:root
{
    --green: rgb(0, 41, 128);
    --black: #130f40;
    --light-color:#931c1c;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0.1);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body
{
    background-image: linear-gradient(to right top, #f882bd, #ed6060, #e25ae2, #bb61e9, #9264e8, #6d88e9, #68abf8, #57aedd, #5cd6e6);
}

/*css for banner*/
section
{
    padding: 2rem 9%;
}

/*css for products*/
.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
    
}

.heading span
{
    background: rgb(13, 16, 201);
    color: #490f0f;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn
{
    border: .2rem solid var(--black); 
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem; 
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover
{
    background: var(--green);
    color: #fff;
}

.header
{

    position: fixed;
    top: 0;
    Left: 0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo
{
    font-size: 2.5rem; 
    font-weight: bolder;
}

.header .logo i
{
    color: burlywood;
}

.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover
{
    color: var(--green);
}

.header .icons div
{
    border: 1px solid;
    height: 4.5rem; 
    width: 4.5rem;
    Line-height: 4.5rem; 
    border-radius: .5rem; 
    background: #eee;
    color: var(--black); 
    font-size: 2rem;
    margin-right: .3rem; 
    text-align: center;
}
.header .icons div:hover
{
    background: var(--green);
    color: white;
}

#menu-btn 
{
    display: none;
}

.header .navbar.active
{
    right:2rem;
    transition: .4s linear;
}

.header .search-form
{
    border: 0px solid; 
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff; 
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active
{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none; 
    font-size: 1.6rem;
    color: var(--black); 
    padding: 0 1.5rem;
}

.header .search-form label
{
    font-size: 2.2rem; 
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover
{
    color: var(--green);
}

.header .login-form
{
    border: 1px solid; 
    position: absolute;
    width: 35rem;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-aLign: center;
}

.header .login-form.active
{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3
{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--black)
}

.header .login-form .box
{
    border: 1px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p
{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a
{
    text-decoration: underline;
    color: var(--green);
}

.home
{
    border: 1px solid;
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    padding-bottom: 5rem;
    box-shadow: var(--box-shadow);
}

.home .content h3
{
    color: var(--black);
    font-size:3rem;
}

.home .content h3
{
    color: var(--black);
    font-size:3rem;
} 

.home .content h3 span
{
    color: burlywood; 
}

.home .content p
{
    color: var(--light-color);
    font-size:1.7rem;    
}


 
/*Products css */
.products .product-slider
{
    border: 0px solid;
    padding: 1rem;
}

.products .product-slider:first-child
{
    margin-bottom: 2rem;
}

.products .product-slider .box
{
    border: 0px solid rgb(198, 148, 148);
    background: rgb(192, 247, 164);
    border-radius: center;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .5s linear;
}

.products .product-slider .box:hover
{
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 1px 1px 10px 4px var(--green);
}

.products .product-slider .box img
{
    height: 20rem;
}

.products .product-slider .box h1
{
font-size: 2.5rem;
color: var(--light-color)
}

.products .product-slider .box .price
{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .product-slider .box .stars i
{
    font-size: 1.7rem;
    color: orange;
    padding: .5rem 0;
    
}

/*review*/
.review .review-slider
{
  border: 0px solid; 
  padding: 1rem; 
}

.review .review-slider .box img
{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box
{
    border: 0px solid red;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear; 
}

.review .review-slider .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);  
}

.review .review-slider .box p
{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3
{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i
{
    color: orange;
    font-size: 1.5rem;
}

/*Footer*/
.footer
{
    background: #efbebe;
}

.footer .box-container
{
    border: 0px solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3
{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i
{
    color: var(--green);
}

.footer .box-container .box .links
{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i
{
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i
{
    padding-right: 2rem;
}

.footer .box-container .box p
{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .share a
{
    border: 0px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover
{
    background: var(--green);
    color: #fff;
}

.footer .box-container .box .email
{
    margin: .7rem 0;
    padding: 1rem;
    width: 100%;
    border-radius: .5rem;
    background: #ecc2c2;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img
{
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit
{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size:2rem;
    color: var(--black);
   
}

.footer .credit span
{
    color: var(--green);
}



/*media queires*/
@media (max-width: 991px)
{
    html
    {
        font-size: 55%;
    }

    .header
    {
        padding:  2rem;
    }

    section
    {
        padding: 2rem;
    }
}

@media (max-width: 768px)
{
    #menu-btn 
    {
        display: inline-block;
    }

    .header .search-form
    {
        width:90%;
    }

    .header  .navbar
    {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header  .navbar a
    {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}


@media (max-width: 450px)
{
    html
    {
        font-size: 50%;
    }
    .footer
    {
        text-align: center;
    }
}